API_PORT=8080

LOG_LEVEL=INFO
LOG_ADD_SOURCE=false
LOG_USE_JSON=false

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_SESSION_TTL_HOURS=24
REDIS_CALENDAR_TTL_HOURS=720

TF_BASE_URL=http://api.travelfusion.com
TF_XML_LOGIN_ID=
TF_LOGIN_ID=
TF_TIMEOUT_SECONDS=60
TF_POLLING_ATTEMPTS=10
TF_POLLING_DELAY_SECONDS=2
